<div class="container__big-card"> 
    <div class="app-big-card__photo">
        <img 
        src="{{ photoCover }}" 
        alt="" 
        height="200px"
        width="300px"
        srcset="" 
        >

    </div>
    <div class="app-big-card__title">
        <h1><a [routerLink]="['content',id]">{{cardTitle}}</a></h1>
         </div>

    <div class="app-big-card__discription">
        <p>
        <a [routerLink]="['content',id]">{{cardTitle}}</a>
           {{cardDescription}} 
        </p>
    </div>

</div>
